
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
      background-image:
        url('Poppy field.jpg');
      background-repeat:
        no-repeat;
      background-size:
        cover;
      background-attachment:
        fixed;

      h1 {
        color: white;
        border: 5px solid rgb(13, 1, 1);
        padding: 5px;
      }

      h2 {
        color: white;
        border: 5px solid rgb(13, 1, 1);
        padding: 5px;
      }

      h3 {
        color: white;
        border: 5px solid rgb(13, 1, 1);
        padding: 5px;
      }

      p {
        color: white;
        padding: 5px;
      }

    }
    .model-name {
  font-size: 1.125rem;
  line-height: 22px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}